<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vps-control - list</title>
</head>
<body>
<ul>
    {{ range . }}
        <li><a href="/vps/?id={{.}}">{{.}}</a></li>
    {{ end }}
</ul>

<p><a href="https://gra3.logs.ovh.com">Logs</a></p>
</body>
</html>