<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VPS List</title>
</head>
<body>
<form action="/vps/reboot/" method="post">
    <input type="hidden" name="id" value="{{.}}">
    <input type="submit" value="Reboot">
</form>
</body>
</html>